.blogs-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    /* width: 60%; */
    margin: 0 auto;
    gap: 3rem;
    width: 70%;
    justify-content: start;
    align-items: center;
    margin-top: 3rem;
}
 @media (max-width:600px){
    .blogs-container{
        width: 90%;
        margin: 3rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
} 

.blog-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    z-index: 999;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom: 1rem;
    max-width: 600px!important;
}

.blog-image {
    /* height: 8rem; */
    /* width: 8rem; */
    width: 100%;
    aspect-ratio: 3/2;
}

.blog-topic-date {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.blog-name {
    text-align: center;
}

.blog-summary {
    text-align: center;
}

.blog-name-link:visited,
.blog-name-link {
    color: black;
}