.blogs-filters-container{
    padding-left: 1rem;
    display: flex;
    gap: 2rem;
}
.filter-button {
    background: var(--crl--darker-blue);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1rem 0.5rem;
}
.filter-button-topics{
    background: var(--crl--darker-blue);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1rem 0.5rem;
    display: flex;
    gap: 1rem;
}
.filter-dropdown {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.25rem;
    font-size: 1.5rem;
}

.filter-dropdown-button {
    display: block!important;
    font-size: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--crl-charcoal);
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    padding: 1rem .5rem;
    border-radius: 4px;
    background-color: transparent;
    border: var(--crl-charcoal) solid 1px;
}

.topics-dropdown-button {
    font-size: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    background: var(--crl-charcoal);
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    padding: 1rem .5rem;
    border-radius: 4px;
    background-color: transparent;
    border: var(--crl-charcoal) solid 1px;
    color: var(--crl-charcoal);
}

.topics-div {
    background: var(--crl--darker-blue);
    color: white;
    font-size: 1.5rem;
}

.filter-radio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
}

.display-block {
    display: block;
}