.top-section{
    display: flex;
    background: var(--crl-blue-grey);
}
.top-section-left-panel{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    text-align: left;
    padding-inline:2%;
}
.top-section-left-panel h1{
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: bolder;
}
.top-section-left-panel p{
    /* padding-inline: 30%; */
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.top-section-left-panel .get-started-button{
    border: none;
    border-radius: 100vmax;
    background-color: var(--crl-charcoal);
    color: white;
    width: max(max-content,50%);
    padding:2rem 4rem;
    font-size: 30px;
    text-decoration: none;
    /* margin: 20px auto; */
}
.top-section-left-panel .get-started-button:hover{
    opacity: 0.9;
}
.top-section-image-container{
    padding:1rem;
}
@media (max-width:1200px){
    .top-section{
        padding-top: 2rem;
        flex-direction: column;
    }
    .top-section-left-panel{
        align-items: center;
        justify-content: center;
        padding-inline:2rem;
    }
}

.search{
    margin-top: 10rem;
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
}
.search-right-panel{
    max-height: 422px;
}
@media (max-width:1130px){
    .search-left-panel-inner{
        flex-direction: column;
        gap: 2rem;
    }
    .search{
        display: flex;
        flex-direction: column;
    }
    .search-left-panel{
        order: 2;
    }
    .search-right-panel{
        order: 1;
    }
}
.search-left-panel{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.search-left-panel-inner{
    display: flex;
    gap: 1rem;
}   
.search-left-panel-inner-div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 5rem 2rem;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.search-left-panel-inner-div-inner{
    display: flex;
    gap: 1rem;
}
.discover{
    font-size: 30px;
    font-weight: bold;
}
.create{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1rem clamp(2rem,5%,10rem);
}
.create-left-panel{
    max-height: 422px;
    margin-left: 2rem;
}
.create-right-panel{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.create-right-panel-h3{
    font-size: 2rem;
    font-weight: bold;
}
.create-right-panel-p{
    font-size: 1.25rem;
}
.create-right-panel-button{
    border: none;
    outline: none;
    text-decoration: none;
    font-size: 30px;
    background-color: var(--crl--darker-blue);
    color: white;
    cursor: pointer;
    border-radius: 100vmax;
    min-width: max-content;
    padding: 1.5rem 3rem;
}
.create-right-panel-button{
    opacity: 0.9;
}
@media(max-width:991px){
    .create{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}
.accordion-container{
    margin-top:10rem;
    padding-inline:2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.users-ratings-section{
    margin-top: 10rem!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 3rem;
}
.users-ratings-section h3{
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
}
