.pagination {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
}

.pagination-item {
    text-decoration: none;
    list-style-type: none;
}

.pagination-item>button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.25rem;
    text-decoration: underline;
}